<a href="https://colab.research.google.com/github/amruta-23/python-assignment/blob/main/ForLoopAssign.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Basic level

1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [ ]:
for number in range(1, 11):
   print(number)

1
2
3
4
5
6
7
8
9
10

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [ ]:
sum=0
l = [1, 2, 3, 4]
for i in l:
  sum +=i

print(sum)

10

3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [ ]:
str = "karnataka"
str1 = ""
for i in str:
  str1 = i + str1
print(str1)

akatanrak

4. Develop a program that finds the factorial of a given number using a `for` loop.

In [ ]:
n = 4
fact = 1
for i in range(1, n+1):
  fact = fact * i
print(fact)

24

5. Create a program to print the multiplication table of a given number using a `for` loop.

In [ ]:
for i in range (1, 11):
  print("2 X ",i,"=", 2 * i)

2 X  1 = 2
2 X  2 = 4
2 X  3 = 6
2 X  4 = 8
2 X  5 = 10
2 X  6 = 12
2 X  7 = 14
2 X  8 = 16
2 X  9 = 18
2 X  10 = 20

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [ ]:
l1 = [33, 46, 75, 78, 54, 67, 43, 48, 62]
evenCount = 0
oddCount = 0
for i in l1:
  if(i % 2 == 0):
   evenCount = 1 + evenCount
  else:
     oddCount = 1 + oddCount

print(evenCount, oddCount)

5 4

7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [ ]:
for i in range (1, 6):
  print("square of", i, "is =", i ** 2)

square of 1 is = 1
square of 2 is = 4
square of 3 is = 9
square of 4 is = 16
square of 5 is = 25

8. Create a program to find the length of a string without using the `len()` function.

In [ ]:
l = 0
str = "krishna"
for i in str:
  l = l+ str.count(i)
print("Length of string",str,"is :", l)

Length of string krishna is : 7

9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [ ]:
l2 = [34, 45, 65, 87, 23]
count =0
sum = 0
for i in l2:
  count = count + l2.count(i)
  sum = sum + i
avg = sum / count
print("average of a list number:", avg)

average of a list number: 50.8

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [ ]:
# fn(first number) sn(second number) ln(last number)
n = 8
fn = 0
sn = 1

print(fn)
print(sn)
for i in range(1, n):
    ln = fn + sn
    print(ln)
    fn, sn = sn, ln

0
1
1
2
3
5
8
13
21

### Intermediate Level:

11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [ ]:
list = [87, 78, 91, 87, 78]
duplicateval = []
for i in range(len(list)):
  k = i + 1
  for j in range(k, len(list)):
    if (list[i] == list[j] and (list[i] not in duplicateval)):
        duplicateval.append(list[i])

if(duplicateval == []):
 print("no duplicate val in list ")
else:
  print("duplicate value in list", duplicateval)

duplicate value in list [87, 78]

12. Create a program that prints the prime numbers in a given range using a `for` loop.

13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [ ]:
str = input("enter string:")
s = "aeiouAeiou"
count = 0
for i in str:
  if(i in s):
    count += 1

print("number of vowels in", str,  "is:",count)

enter string:krishna
number of vowels in krishna is: 2

14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [ ]:
l = [[48, 55, 67], [78, 98, 89], [56, 99, 108]]
m = 0

for i in l:
   for j in i:
    if(j > m):
      m = j
print(m)

108

15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [ ]:
l = [1, 2, 3, 4, 5, 6, 7, 9, 2, 0, 45, 2]
element_remove =2
new_l = []
for i in l :
  if (i != element_remove):
    new_l.append(i)

print("removed element list:", new_l)

removed element list: [1, 3, 4, 5, 6, 7, 9, 0, 45]

In [ ]:
# if there is more then one element to remove

l = [1, 2, 3, 4, 5, 6, 7, 9, 2, 0, 45, 2]
element_remove = [ 2, 45 ]
new_l = []
for i in l :
  if (i not in element_remove):
    new_l.append(i)

print("removed element list:", new_l)

removed element list: [1, 3, 4, 5, 6, 7, 9, 0]

17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [ ]:
Fahren_list = [ 56, 108, 67, 76]
cel_list = []
for i in Fahren_list:
    cel = (i - 32)*(5/9)
    cel_list.append(cel)

("Fahrenheit converted to Celsius list:", cel_list)

('Fahrenheit converted to Celsius list:',
 [13.333333333333334,
  42.22222222222222,
  19.444444444444446,
  24.444444444444446])

18. Create a program to print the common elements from two lists using a `for` loop.

In [ ]:
c1 = [54, 56, 87, 90, 32, 345, 876, 564]
c2 = [90, 54, 45, 56, 92, 345, 876, 654]
common_ele = []
for i in c1:
  for j in c2:
    if(i == j):
      common_ele.append(i)

print("common element in c1 and c2 lists are:",common_ele)

common element in c1 and c2 lists are: [54, 56, 90, 345, 876]

19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

In [ ]:
for i in range(6):
  for j in range(i+1):
    print("*", end="")
  print(" ")

*
**
***
****
*****
******

20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [ ]:
num1 = 56
num2 = 76

for i in range(1, min(num1, num2) + 1):
  if num1 % i == 0 and num2 % i == 0:
       gcd = i


print(gcd)

4

 Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [1]:
l = [sum(i for i in [34, 67, 89, 65])]
print(l)

[255]

22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

 Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.

In [2]:
uni_ele = [45, 78, 56]
s = []
l = [s.append(i) for i in [56, 78, 45, 76, 102, 98] if i in uni_ele]
print (s)

[56, 78, 45]

 Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension.

In [6]:
limit =int(input("Enter limit:"))
is_pal = []
l = [is_pal.append(i) for i in range(10, limit + 1) if str(i)  == str(i)[::-1]]
print(is_pal)

Enter limit:500
[11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494]

25. Write a program to flatten a nested list. Using list comprehension

In [7]:
l = [element for i in [[43, 34, 56], [67, 76, 89], [99, 58, 98]] for element in i]
l

[43, 34, 56, 67, 76, 89, 99, 58, 98]

Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.

In [18]:
even = [ i for i in range(1, 20) if i % 2 == 0 ]
print("even numbers:", even)
sum_even = [sum(even)]
print("sum of even numbers:", sum_even)

odd = [ i for i in range(1, 20) if i % 2 != 0]
print("odd numbers:", odd)
sum_odd = [sum(odd)]
print("sum of odd numbers:", sum_odd)

even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18]
sum of even numbers: [90]
odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
sum of odd numbers: [100]

27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.

In [8]:
square_no = [i**2 for i in range(1, 10) if i % 2 != 0]
square_no

[1, 9, 25, 49, 81]

28. Write a program that combines two lists into a dictionary using list comprehension.

In [10]:

keys = input("Enter a list of keys separated by spaces: ").split()
values = input("Enter a list of values separated by spaces: ").split()


combined_dict = {keys[i]: values[i] for i in range(min(len(keys), len(values)))}


print("Combined Dictionary:", combined_dict)

Enter a list of keys separated by spaces: python c c++ javascript
Enter a list of values separated by spaces: 56 78 90 89
Combined Dictionary: {'python': '56', 'c': '78', 'c++': '90', 'javascript': '89'}

29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [11]:
str ='aeiouAEIOU'
str1 = input("Enter string:")
l = [i for i in str1 if i in str ]
print(l)

Enter string:krishna
['i', 'a']

30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [20]:
#num = [ i  for i in [67, 89, 'hi', 90, '-', 76, '#', 88] if str(i).isnumeric() == True]
#print(num) this code is working in another google colab notebook but here it is showing error.

Challenge Level:

31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list
compreh