<a href="https://colab.research.google.com/github/amruta-23/python-assignment/blob/main/ForLoopAssign.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Basic level

1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [1]:
for number in range(1, 11):
   print(number)

1
2
3
4
5
6
7
8
9
10

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [2]:
sum=0
l = [1, 2, 3, 4]
for i in l:
  sum +=i

print(sum)

10

3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [3]:
str = "karnataka"
str1 = ""
for i in str:
  str1 = i + str1
print(str1)

akatanrak

4. Develop a program that finds the factorial of a given number using a `for` loop.

In [4]:
n = 4
fact = 1
for i in range(1, n+1):
  fact = fact * i
print(fact)

24

5. Create a program to print the multiplication table of a given number using a `for` loop.

In [5]:
for i in range (1, 11):
  print("2 X ",i,"=", 2 * i)

2 X  1 = 2
2 X  2 = 4
2 X  3 = 6
2 X  4 = 8
2 X  5 = 10
2 X  6 = 12
2 X  7 = 14
2 X  8 = 16
2 X  9 = 18
2 X  10 = 20

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [6]:
l1 = [33, 46, 75, 78, 54, 67, 43, 48, 62]
evenCount = 0
oddCount = 0
for i in l1:
  if(i % 2 == 0):
   evenCount = 1 + evenCount
  else:
     oddCount = 1 + oddCount

print(evenCount, oddCount)

5 4

7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [7]:
for i in range (1, 6):
  print("square of", i, "is =", i ** 2)

square of 1 is = 1
square of 2 is = 4
square of 3 is = 9
square of 4 is = 16
square of 5 is = 25

8. Create a program to find the length of a string without using the `len()` function.

In [8]:
l = 0
str = "krishna"
for i in str:
  l = l+ str.count(i)
print("Length of string",str,"is :", l)

Length of string krishna is : 7

9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [9]:
l2 = [34, 45, 65, 87, 23]
count =0
sum = 0
for i in l2:
  count = count + l2.count(i)
  sum = sum + i
avg = sum / count
print("average of a list number:", avg)

average of a list number: 50.8

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [10]:
# fn(first number) sn(second number) ln(last number)
n = 8
fn = 0
sn = 1

print(fn)
print(sn)
for i in range(1, n):
    ln = fn + sn
    print(ln)
    fn, sn = sn, ln

0
1
1
2
3
5
8
13
21

### Intermediate Level:

11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [11]:
list = [87, 78, 91, 87, 78]
duplicateval = []
for i in range(len(list)):
  k = i + 1
  for j in range(k, len(list)):
    if (list[i] == list[j] and (list[i] not in duplicateval)):
        duplicateval.append(list[i])

if(duplicateval == []):
 print("no duplicate val in list ")
else:
  print("duplicate value in list", duplicateval)

duplicate value in list [87, 78]

12. Create a program that prints the prime numbers in a given range using a `for` loop.

13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [12]:
str = input("enter string:")
s = "aeiouAeiou"
count = 0
for i in str:
  if(i in s):
    count += 1

print("number of vowels in", str,  "is:",count)

enter string:krishna
number of vowels in krishna is: 2

14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [25]:
l = [[48, 55, 67], [78, 98, 89], [56, 99, 108]]
m = 0

for i in l:
   for j in i:
    if(j > m):
      m = j
print(m)

108

15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [20]:
l = [1, 2, 3, 4, 5, 6, 7, 9, 2, 0, 45, 2]
element_remove =2
new_l = []
for i in l :
  if (i != element_remove):
    new_l.append(i)

print("removed element list:", new_l)

removed element list: [1, 3, 4, 5, 6, 7, 9, 0, 45]

In [21]:
# if there is more then one element to remove

l = [1, 2, 3, 4, 5, 6, 7, 9, 2, 0, 45, 2]
element_remove = [ 2, 45 ]
new_l = []
for i in l :
  if (i not in element_remove):
    new_l.append(i)

print("removed element list:", new_l)

removed element list: [1, 3, 4, 5, 6, 7, 9, 0]

17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [28]:
Fahren_list = [ 56, 108, 67, 76]
cel_list = []
for i in Fahren_list:
    cel = (i - 32)*(5/9)
    cel_list.append(cel)

("Fahrenheit converted to Celsius list:", cel_list)

('Fahrenheit converted to Celsius list:',
 [13.333333333333334,
  42.22222222222222,
  19.444444444444446,
  24.444444444444446])

18. Create a program to print the common elements from two lists using a `for` loop.

In [32]:
c1 = [54, 56, 87, 90, 32, 345, 876, 564]
c2 = [90, 54, 45, 56, 92, 345, 876, 654]
common_ele = []
for i in c1:
  for j in c2:
    if(i == j):
      common_ele.append(i)

print("common element in c1 and c2 lists are:",common_ele)

common element in c1 and c2 lists are: [54, 56, 90, 345, 876]

19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

In [43]:
for i in range(6):
  for j in range(i+1):
    print("*", end="")
  print(" ")

*
**
***
****
*****
******

20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.